#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="LOG_DIR">logs</Property>
		<Property name="ALL_FILE">detail.log</Property>
		<Property name="ERROR_FILE">error.log</Property>
		<Property name="ACCESS_FILE">access.log</Property>
	</Properties>
	<Appenders>
		<Console name="console-appender" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level{length=1}][%t] %l - %m%n" />
		</Console>

		<RollingFile name="all-appender" fileName="${symbol_dollar}{LOG_DIR}/${symbol_dollar}{ALL_FILE}" filePattern="${symbol_dollar}{LOG_DIR}/${symbol_dollar}${symbol_dollar}{date:yyyy-MM}/${symbol_dollar}{ALL_FILE}.%d{yyyy-MM-dd}">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level{length=1}][%t] %l - %m%n" />
			<TimeBasedTriggeringPolicy modulate="true" interval="1" />
		</RollingFile>
		<RollingFile name="error-appender" fileName="${symbol_dollar}{LOG_DIR}/${symbol_dollar}{ERROR_FILE}" filePattern="${symbol_dollar}{LOG_DIR}/${symbol_dollar}${symbol_dollar}{date:yyyy-MM}/${symbol_dollar}{ERROR_FILE}.%d{yyyy-MM-dd}">
			<ThresholdFilter level="ERROR" />
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level{length=1}][%t] %l - %m%n" />
			<TimeBasedTriggeringPolicy modulate="true" interval="1" />
		</RollingFile>
		<RollingFile name="access-appender" fileName="${symbol_dollar}{LOG_DIR}/${symbol_dollar}{ACCESS_FILE}" filePattern="${symbol_dollar}{LOG_DIR}/${symbol_dollar}${symbol_dollar}{date:yyyy-MM}/${symbol_dollar}{ACCESS_FILE}.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%m%n" />
			<TimeBasedTriggeringPolicy modulate="true" interval="1" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.dinstone.agate.gateway.handler.internal.AccessLogHandler" level="info" additivity="false">
			<AppenderRef ref="access-appender" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="console-appender" />
			<AppenderRef ref="all-appender" />
			<AppenderRef ref="error-appender" />
		</Root>
	</Loggers>
</Configuration>  
